


.container{
    height: 400px;
    border: 1px solid black;
    width: 90%;
    margin: 100px auto;
    border-radius: 8px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    /* flex-flow: row wrap; */
    /* gap: 10px; */
    justify-content: center;
}

.container .box{
    /* flex-grow: 1; */
    height: 120px;
    width: 120px;
    background-color: rgb(83, 83, 83);
    border-radius: 8px;
    font-size: 24px;
    color: white;
    margin: 8px;
}

/* .box3, .box2{
    flex-grow: 1;
} */
.box3{
    order: -2000;
}
.box4{
    flex-shrink: 2;
    order: 1000;
}

.profileContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profileCard{
    flex-grow: 1;
    margin: 10px;
    width: 250px;
    background-color: rgb(241, 238, 238);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profileCard:hover{
    background-color: rgb(245, 242, 242);
    box-shadow: rgba(0, 0, 0, 0.35);
    transform: scale(1.03);
}

.profileCard img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255);
}

.profileCard h2{
    font-size: 24px;
    font-weight: bold;
    /* margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px; */
    margin: 5px 0px;
}

.profileCard p{
    font-size: 18px;
    margin: 5px 0px;
}

.profileCard button{
    padding: 5px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
}